/*-- Universal --*/

* {
  /*border: 1px solid teal;*/
}

@font-face {
  font-family: 'MuseoSans';
  src:
    local('MuseoSans_100'),
    url('/fonts/museosans_100.otf')
    format('opentype');
}

@font-face {
  font-family: 'Valledofas';
  src:
    local('Valledofas'),
    url('/fonts/valledofas.otf')
    format('opentype');
}

body {
  font-family: 'MuseoSans', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.valledofas {
  font-family: 'Valledofas', sans-serif;
  font-size: 2rem;
}

/*-- Header --*/

.navigation {
  text-align: center;
  text-transform: uppercase;
  padding: 1.5%;
}

.logo img {
  width: 17%;
}

.social_navigation {
  text-align: right;
}

.social_navigation img {
  width: 40px;
}

/*-- Body --*/

#aboutblurb  {
  padding: 50px;
}

/*-- Footer --*/

footer {
 text-align: center;
}
