<!-- Instagram Slider -->

<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/bacbf1872ec75656a53d6bdfb0f9dad9.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

<footer class="grid-middle">

  <!-- Logo -->
  <div class="col-4 footer-logo">
    <a href="find_us.html"><img src="images/logo.png"></a>
  </div>

  <!-- Address -->
  <div class="col-4">
    <p>Main Street, San Jan del Sur, Nicaragua</p>
    <p><a href="mailto:hello@pineapplepaddles.com">hello@pineapplepaddles.com</a></p>
    <p><a href="tel:hello@pineapplepaddles.com">+1.518.463.5938</a></p>
  </div>

  <!-- Social -->
  <div class="col-4 social_navigation">
    <a href="https://www.facebook.com/pineapplepaddles">
      <img alt="Pineapple Paddles Facebook" src="images/facebook.png"></a>
    <a href="https://www.instagram.com/pineapplepaddles">
      <img alt="Pineapple Paddles Instagram" src="images/instagram.png"></a>
    <a href="https://www.twitter.com/pineapplepaddles">
      <img alt="Pineapple Paddles Twitter" src="images/twitter.png"></a>
    <p id="paddleinparadise" class="valledofas">#paddleinparadise</p>
  </div>

</footer>

<!-- jQuery plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- isotope plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>

<!-- jQuery owlcarousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

<!-- Google map API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-1dGFFLwphkq8CMDFi-upyVzZd0c9Y-c"></script>

<!-- main js -->
<script src="js/main.js"></script>
