
<footer class="grid-middle">


  <!-- Logo -->
  <div class="col-4 footer-logo">
    <a href="find_us.html"><img src="images/logo.jpg"></a>
  </div>

  <!-- Address -->
  <div class="col-4">
    <p>Main Street, San Jan del Sur, Nicaragua</p>
    <p><a href="mailto:hello@pineapplepaddles.com">hello@pineapplepaddles.com</a></p>
    <p><a href="tel:hello@pineapplepaddles.com">+1.518.463.5938</a></p>
  </div>

  <!-- Social -->
  <div class="col-4 social_navigation">
    <a href="https://www.facebook.com/pineapplepaddles">
      <img alt="Pineapple Paddles Facebook" src="images/facebook.jpg"></a>
    <a href="https://www.instagram.com/pineapplepaddles">
      <img alt="Pineapple Paddles Instagram" src="images/instagram.jpg"></a>
    <a href="https://www.twitter.com/pineapplepaddles">
      <img alt="Pineapple Paddles Twitter" src="images/twitter.jpg"></a>
    <p class="valledofas">#paddleinparadise</p>
  </div>

</footer>

<!-- jQuery plugin -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- isotope plugin -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>
