<header class="navigation">
  <div class="social_navigation">
    <a href="https://www.facebook.com/pineapplepaddles">
      <img alt="Pineapple Paddles Facebook" src="images/facebook.jpg"></a>
    <a href="https://www.instagram.com/pineapplepaddles">
      <img alt="Pineapple Paddles Instagram" src="images/instagram.jpg"></a>
    <a href="https://www.twitter.com/pineapplepaddles">
      <img alt="Pineapple Paddles Twitter" src="images/twitter.jpg"></a>
  </div>

  <nav>
    <a href="classes_events.html">classes + events</a> /
    <a href="lessons_rentals.html">lessons + rentals</a>
    <span class="logo">
      <a href="index.html">
        <img src="images/logo.jpg" align="center" alt="Pineapple Paddes, SUP in San Juan del Sur, Nicaragua">
      </a>
    </span>
    <a href="shop.html">shop</a> /
    <a href="about.html">about</a> /
    <a href="find_us.html">find us</a> /
    <a href="faq.html">faq</a>
  </nav>

</header>
